@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
.themeColor{
  background-color: #252734;
}
@layer components{

  /* hero start section  */
  h4{
    @apply text-white font-normal md:pt-4 md:text-4xl text-2xl
  }
  p{
    @apply text-2xl text-white
  }
  .hero-image{
    @apply absolute md:bottom-0 md:right-5 sm:w-1/2
  }
  h2{
    @apply md:text-5xl text-2xl font-semibold text-white md:py-8 py-2
}
.button{
  @apply flex text-2xl text-white items-center mt-8 border md:p-4 md:px-8 p-2  rounded-full animate-bounce border-buttonColor hover:bg-buttonColor z-50 overflow-hidden
}
.hero-article{
  @apply relative md:mt-20 md:h-96 overflow-hidden order-last md:order-first
}

}