@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
/* .themeColor{
  background-color: #252734;
} */
@layer components{

  /* hero start section  */
  h4{
    @apply text-white font-normal md:pt-14 md:text-4xl text-2xl
  }
  p{
    @apply md:text-2xl text-white text-xl
  }
  .hero-image{
    @apply absolute md:bottom-0 md:right-5 sm:w-1/2
  }
  h2{
    @apply md:text-5xl text-2xl font-semibold text-white md:pt-5 md:pb-12 pt-3 pb-8
}
.button{
  @apply flex text-2xl text-white items-center md:mt-20 mt-10 border md:p-4 md:px-8 p-2  rounded-full animate-bounce border-buttonColor hover:bg-buttonColor z-50 overflow-hidden
}
.hero-article{
  @apply relative md:mt-20 md:h-96 overflow-hidden order-last md:order-first
}
/* projct components  */
.projects{
  @apply lg:pt-16 overflow-hidden last:pb-16  lg:m-0 m-4
}
.project-single{
  @apply flex lg:flex-row flex-col bg-base-100 lg:w-3/4 w-full lg:mx-auto rounded border border-spacing-3 overflow-hidden
}
.project-image{
  @apply lg:w-1/2 lg:m-5 h-80 overflow-hidden align-middle w-full cursor-pointer
}



}
